body {
  margin: 0;
  padding: 0;
}

header {
    font-family: Georgia, serif;
    background-color: #8fbc8f;
    color: #fff;
    padding: 10px;
}

img {
	position: absolute;
	left: 1px;
	width: 900px;
	height: 600px;
}
main{
	font-family: Arial, sans-serif;
	position: absolute;
	right: 20px;

	

}